@media print {
  footer {
  	page-break-after: always;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
  }
}

#question_block #answer_block {page-break-after:always}